@font-face {
 font-family: 'PublicSans';
 src: url('../../assets/fonts/PublicSans-Regular.otf');
 font-weight: 400;
}
@font-face {
 font-family: 'PublicSans-Medium';
 src: url('../../assets/fonts/PublicSans-Medium.otf');
 font-weight: 500;
}
/*
@font-face {
  font-family: 'PublicSans-SemiBold';
  src: url(fontfamily/PublicSans-SemiBold.ttf);
}
*/
@font-face {
 font-family: 'PublicSans';
 src: url(../../assets/fonts/PublicSans-Bold.otf);
 font-weight: 700;
}


body {

  max-width: 1366px!important;
 margin: auto;
 padding: 0;
 font-family: 'PublicSans', sans-serif;
 background: #F4F6FA;
 font-size: 12px;
 font-weight: 400;
}

/********* Profile ************/
.mynav{
 border: 0;
 border-radius: 0;
 background: #ffffff;
 padding-top: 15px;
 margin-bottom: 0;
}

#navbar-logo{
  height:40px;
}

#navbar-nav-search-dropdown{
  width: 40%;
}
#navbar-profile-pic
{
  height:30px;
}

#navbar-profile-dropdown-toggle{
  max-height: 35px;
}
/*.mynav .navbar-left{
  padding-left: 45px;
}*/
.mynav .navbar-left li a:hover{
  color: #4867AE;         
}

.mynav .navbar-left li a{
 font-size: 15px;
 font-family: 'PublicSans-SemiBold';
}
.mynav .navbar-left li a span{
 font-size: 18px;
 margin-right: 5px;
}

.mynav .navbar-right li a span{
 font-size: 22px !important;
}
.mynav .navbar-right li a:hover{
 color: #4867AE;     
}

.maange-search{
  display: flex;  
  margin-top: 8px;
  margin-left: 60px;
}
.maange-search span .icon-search{
  color: #91949B;
  padding-top: 10px;
  font-size: 20px;
}
.maange-search span{
  background: transparent;
  border:none;
  position: relative;
  /*left: 25px;*/
  top: 2px;
}
.maange-search input[type="text"]{
  background: transparent;
  color: #91949B !important;
  border:none;
  box-shadow: none;
  padding-left: 0px;
}

 

/******** Dropdown ******/

.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #FFFFFF;
  //min-height: 360px;
  //max-height: 360px;
  margin-top: 9px;
  border-radius: 6px;
}
.drop-content{
 padding: 4px;
}
.drop-content h4{
 background: #EFF0F2;
 font-family: 'PublicSans-Bold';
 color: #080E1C;
 font-size: 15px;
 margin: 4px;
 padding: 14px 16px;
 margin-bottom: 10px;
 border-radius: 10px 10px 0 0;
}


.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
  margin-right: 10px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #4867AE;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #CE1F26;
  margin-right: 10px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content  li {
  border: 1px solid #D8D9DC !important;

  border-radius: 4px;
  margin: 20px;
  padding: 4px;
  margin-top: 5px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content  li .col-md-8{
 padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content  li .col-md-4{
 padding-left: 0;
 padding-right: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content  li .col-md-3{
 padding-left: 5px;
}
.navbar-default .dropdown-menu.notify-drop .searchBtn .searchBtnPlus{
 background: #4867AE;
 color: #fff !important;
 border-radius: 20px;
 width: 35px;
 height: 35px;
 text-align: center;
 padding-top: 8px;
 padding-left: 8px;
 margin-right: 5px;
}

.navbar-default .dropdown-menu.notify-drop .searchBtn .searchBtnPlus span{
 font-size: 18px !important;
}

.navbar-default .dropdown-menu.notify-drop .searchBtn .searchBtndelete{
 background: #ffffff;
 color: #4867AE !important;
 border-radius: 20px;
 border: 1px solid #4867AE;
 width: 35px;
 height: 35px;
 text-align: center;
 padding-top: 8px;
 padding-left: 8px;
}

.navbar-default .dropdown-menu.notify-drop .searchBtn .searchBtndelete span{
 font-size: 18px !important;
}


/*.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
  }*/
  .navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
    content: "";
    clear: both;
    display: block;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
    background-color: #fcfcfc;
    color: #202020 !important;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li:hover h5{
    color: #202020 !important;

  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li:hover p{
    color: #202020 !important;

  }


  .navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
    border-bottom: none;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
    float: left;
    display: inline-block;
    width: 45px;
    height: 45px;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    //  margin: 0px 0px 8px 0px;
  }
  .navbar-default .dropdown-menu.notify-drop .allRead {
    margin-right: 7px;
  }
  .navbar-default .dropdown-menu.notify-drop .rIcon {
    float: right;
    color: #999;
  }
  .navbar-default .dropdown-menu.notify-drop .rIcon:hover {
    color: #333;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li a {
    font-size: 12px;
    font-weight: normal;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li {
    font-weight: bold;
    font-size: 11px;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
    margin: 5px 0;
    width: 70%;
    border-color: #e2e2e2;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
    padding-left: 0;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content > li p {
    font-size: 13px;
    color: #A7A6AB;
    font-weight: normal;
    margin: 3px 0;
    padding-left: 15px;
  }
  .navbar-default .dropdown-menu.notify-drop .drop-content h5{
    margin-bottom: 0;
    margin-top: 5px;
    color: #080E1C;
    font-family: 'PublicSans-SemiBold';
    padding-left: 15px;
  }
  .searchBtn{
   padding-top: 5px;
 }


 .blue-dot {
  background: #FF5757;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  left: 0px;
  top: -16px;
}
.red-dot {
  background: #FF5757;
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  left: -5px;
  top: -15px;
}

/*.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
  }*/
  .navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
    background-image: linear-gradient(#fff,#fff);
  }
  .navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
    border-top: 1px solid #202020;
    bottom: 0;
    position: relative;
    padding: 8px 15px;
  }
  .navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
    color: #CE1F26;
    text-decoration: none;
  }
  .navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
    color: #CE1F26;
  }

  .user-img {
    height: 35px;
  }
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
   background: none !important;
 }
 /*** Dropdown ******/


 .account-list{
  background: #4867AE;
}

.account-list li{
  margin-bottom: 5px;
}
.account-list li a{
  color: #ffffff;
}

/*.account-list li a:hover{
  color: #fff !important;
  background: none !important;
}
*/

/******* Profile_detail ***********/
.profile_detail{

 padding-top: 80px;
 padding-bottom: 50px;
}
#profile-sidebar{
  width: min-content; 
}

.sidebar{
 padding: 20px 20px;
 background: #fff;
 border-radius: 5px;
}

.sidebar_user{
 margin-top: -50%;
}
.user-title{
 color: #080E1C;
 border-bottom: 1px solid #E0E2E6;
 padding-bottom: 20px;
 margin-bottom: 20px;
}

.user-title span{
 color: #52DC90;
 margin-left: 1px;
}

.text-blue{
 color: #4867AE;
}
.sidebar .table tr td{
 border: 0;
 padding-bottom: 0px;
 color: rgba(8, 14, 28, 0.6);
 padding-left: 0;
}

.user_box{
 border: 1px solid #D8D9DC;
 background: #ffffff;
 border-radius: 5px;
 padding: 6px 8px;
 padding-bottom: 2px;
 margin-bottom: 5px;
}
.user_box .media-body img{
 height: 40px;
}

.user_box .media-body{
 padding-top: 7px;
}
.user_box .media-body h4{
 margin-bottom: 0;
 font-family: 'PublicSans-SemiBold';
 color: #080E1C;
 font-size: 15px;
}
.plus-icon{
 color: #4867AE;
 text-decoration: none;
 font-size: 22px;
 margin-top: 5px;
}
.Btninvite-user{
 background:#4867AE;
 padding: 12px 30px;
 width: 100%;
 font-size: 16px;
 color: #ffffff;
 border-radius: 3px;
 margin-top: 3px; 
}
.Btninvite-user span{
 margin-right: 5px;
}

.your-network{
 background: #fff;
 border-radius: 5px;
 padding: 0 15px;
}

.your-network .media{
 margin-left: 15px;
}

.your-network .media .circle-icon1{
 width: 50px;
 height: 50px;
 border-radius: 25px;
 background: #E9FAF1;
 padding-top: 12px;
 text-align: center;
 display: block;
 margin: auto !important;
}
.your-network .media .circle-icon2{
 background: #ECEFF7;
}
.your-network .media .circle-icon3{
 background: #F7ECEC;
}

.your-network .media .media-body{
 padding-top: 15px;
}
.your-network .media .media-body h4{
 margin-bottom: 20px;
 color: #080E1C;
 font-family: 'PublicSans-Bold';
}
.your-network .media .media-body p{
 color: rgba(8, 14, 28, 0.6);
 margin-bottom: 7px;
 font-size: 14px;
}
.btnView{
 border: 2px solid #4867AE;
 border-radius: 3px;
 color: #4867AE !important;
 padding: 9px 24px;
 margin-top: 20px;
}
.btnView img{
 margin-right: 10px;
}

.your-story{
  padding: 20px 25px;
  background: #fff;
  border-radius: 5px;
  padding-top: 5px;
  margin-bottom: 20px;

}
.your-story h3{
 font-family: 'PublicSans-Bold';
 color: #080E1C;
 margin-bottom: 20px;
}
.your-story .help-icon{
 display: block;
 margin-top: 23px;
}
.your-story .form-control{
 border: 0;
 outline: none !important;
 box-shadow: none !important;
}
.your-story .form-control:focus{
 outline: none !important;    
}

.storyBtn{
 border-top: 1px solid #D8D9DC;
 padding-top: 20px;
}
.image-upload{
 margin-top: 10px;
}

.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 20px;
  cursor: pointer;
}

.btnpost{
 background: #4867AE;
 border-radius: 5px;
 color: #ffffff !important;
 /*padding: 10px 24px;*/
}
.btnpost img{
 margin-right: 10px;
}



.storyboard{
  padding: 20px 25px;
  background: #fff;
  border-radius: 5px;
  padding-top: 5px;

}
.storyboard h3{
 font-family: 'PublicSans-Bold';
 color: #080E1C;
 margin-bottom: 20px;
}
.storyboard .help-icon{
 display: block;
 margin-top: 23px;
}

.storyboard .nav-pills>li.active>a{
 background: none !important;
 border-bottom: 2px solid #4867AE;
 color: #4867AE;
}


.storyboard .panel-heading {
  padding: 0;
  border:0;
  background: none !important;

}
.storyboard .panel-title>a, .storyboard .panel-title>a:active{
 display:block;
 padding:15px;
 color: rgba(8, 14, 28, 0.6);
 font-family: 'PublicSans-Bold';
 font-size:14px;
 word-spacing:3px;
 text-decoration:none;
}
.storyboard .panel-heading  a:before {
 font-family: 'Glyphicons Halflings';
 content: "\e114";
 float: right;
 transition: all 0.5s;
}
.storyboard .panel-heading.active a:before {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
} 
.story_date{
 padding-right: 20px;
}

.storyboard .panel{
 border: 0;
}
.btnReadMore{
 background: #4867AE;
 border-radius: 3px;
 color: #ffffff !important;
 padding: 10px 24px;
}
.modal .modal-header .media-body{
 padding-top: 7px;
}
.modal .modal-header .media-body h4{
 margin-bottom: 0;
 font-family: 'PublicSans-SemiBold';
 color: #080E1C;
}
.modal .modal-header .media-body p{
 font-size: 13px;
 color: rgba(8, 14, 28, 0.6);
}
.modal .modal-header .close{
 font-size: 50px;
 font-weight: lighter;
 color: #91949B;
}

.modal .modal-body p img{
 height: 250px !important;
 width: 100%;
}
.modal .modal-body p{
 color: rgba(8, 14, 28, 0.6);
 font-family: 'PublicSans-Regular';
 margin-bottom: 20px;
}

.user_information{
 padding: 20px 25px;
 background: #fff;
 border-radius: 5px;
 padding-top: 5px;
 padding-bottom: 30px;
}

.user_information h3{
 font-family: 'PublicSans-Bold';
 color: #080E1C;
}

.back
{
 border: 2px solid #4867AE;
 border-radius: 3px;
 color: #4867AE !important;
 padding: 6px 20px;
 margin-top: 15px;
 font-size: 14px;
 padding-bottom: 10px;
}
.backProfile span{
 font-size: 23px;
 position: relative;
 top: 3px;
}

.user_information .sub_headingBox{
 font-family: 'PublicSans-Bold';
 color: #080E1C;
 border-bottom: 1px solid #E0E2E6;
 padding-bottom: 15px;
 margin-bottom: 15px;
 margin-top: 25px;
}

.user_information .media{
 margin-left: 10px;
}

.user_information .media .circle-icon1{
 width: 50px;
 height: 50px;
 border-radius: 25px;
 background: #E9FAF1;
 padding-top: 12px;
 text-align: center;
 display: block;
 margin: auto !important;
}
.user_information .media .circle-icon2{
 background: #ECEFF7;
}
.user_information .media .circle-icon3{
 background: #F7ECEC;
}

.user_information .media .media-body{
 padding-top: 15px;
}
.user_information .media .media-body h4{
 margin-bottom: 20px;
 color: #080E1C;
 font-family: 'PublicSans-Bold';
}
.user_information .media .media-body p{
 color: rgba(8, 14, 28, 0.6);
 margin-bottom: 7px;
 font-size: 13px;
}
.addRecord{
 background: #4867AE;
 border-radius: 3px;
 color: #ffffff !important;
 padding: 10px 24px;
 height: 42px;
 margin-right: 10px;
}

.btn-edit{
 border: 2px solid #4867AE;
 border-radius: 3px;
 color: #4867AE !important;
 padding: 6px 10px;
 font-size: 20px;
 height: 42px;
}
.mtb20{
 margin-top: 20px;
 margin-bottom: 40px;
}

.personal-information h4{
 padding-top: 5px;
}
.personal-information .form-group{
 margin-bottom: 10px;
}

.personal-information .form-group label {
 color: rgba(8, 14, 28, 0.6);
 font-size: 13px;
}


.avatar-upload {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  z-index: 1;
  top: 0;
  bottom: 0;
  text-align: center;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 100%;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f030";
  font-family: 'FontAwesome';
  color: #ffffff;
  position: absolute;
  top: 10px;
  font-size: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 100%;
  height: 250px;
  position: relative;
  /* border-radius: 100%;*/
  border-radius: 10px;
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  /* border-radius: 100%;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(0,0,0,0.5);
 z-index: 1;
 border-radius: 6px;
}
.placeholderImg{
 height: 250px;
 width: 100%;
 margin-top: 20px;
}

.readonly{
 background:#EEEEEE;
 color: #A49999;
}

/******* Profile_detail ***********/



/********* Profile ************/



/********* Search_Module ************/
.search_userBox{
 padding: 20px 25px;
 background: #fff;
 border-radius: 5px;
 padding-top: 5px;
 margin-bottom: 20px;
}

.search_userBox h3{
 font-family: 'PublicSans-Bold';
 color: #080E1C;
 margin-bottom: 20px;
}

.search_userBox .user_box .media-body{

 padding-top: 12px; 
}
.search_userBox .user_box{
 /*padding-top: 15px;*/
 margin-bottom: 10px;
 padding-bottom: 5px;
}

.search_userBox .user_box .plus-icon{
 font-size: 30px;
 margin-right: 10px;
}
.search_userBox .user_box .plus-iconchecked{
  color: #52DC90;
}


.search_userBox .user_box h4{
 margin-top: 0;
}
.search_userBox .user_box img{
 height: 80px;
}


.search_userBox .user_box p {

 margin-bottom: 0;
}

.viewall{
 margin-top: 25px;
 display: block;
 text-decoration: underline;
 color: #4867AE;
}

.user_popup .modal-body{
  padding: 40px 80px;
}
.user_popup .media-body{
  padding-left: 10px;
  padding-top: 18px;
}

.user_popup .media img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user_popup .media h4{
  font-family: 'PublicSans-Bold';
}
.user_popup .media h4 span{
  color: #52DC90;
}
.user_popup  .media p{
  margin-bottom: 0;
}
.user_popup  .media{
  margin-bottom: 35px;
}

.user_popup label{
  color: #6B6E77;
}
.user_popup .form-group{
  margin-bottom: 25px;
}

/********* Search_Module ************/


/************ Extras ***********/
.btnStyle {
 transform: translateZ(0) !important;
 backface-visibility: hidden !important;
 transition: 300ms ease-out !important;
}
.btnStyle:hover {
 transform: scale(1.05) !important;
}
.btnStyle2 {
 transform: translateZ(0) !important;
 backface-visibility: hidden !important;
 transition: 300ms ease-out !important;
}
.btnStyle2:hover {
 transform: scale(1.1) !important;
}
.mr0{
 margin-right: 0;
}
.ml5 {
 margin-left: 5px !important;
}
.ml7 {
 margin-left: 7px !important;
}
.ml10 {
 margin-left: 10px;
}
.ml15 {
 margin-left: 15px;
}
.ml20 {
 margin-left: 20px;
}
.ml30 {
 margin-left: 30px;
}
.ml40 {
 margin-left: 40px;
}
.ml50 {
 margin-left: 50px;
}
.ml100 {
 margin-left: 100px;
}
.mb5 {
 margin-bottom: 5px;
}
.mb10 {
 margin-bottom: 10px;
}
.mb15 {
 margin-bottom: 15px;
}
.mb20 {
 margin-bottom: 20px;
}
.mb30 {
 margin-bottom: 30px;
}
.mb40 {
 margin-bottom: 40px;
}
.mb100 {
 margin-bottom: 100px;
}
.mb150 {
 margin-bottom: 150px;
}
.mt5 {
 margin-top: 5px;
}
.mt10 {
 margin-top: 10px;
}
.mt15 {
 margin-top: 15px;
}
.mt20 {
 margin-top: 20px;
}
.mt30 {
 margin-top: 30px;
}
.mt40 {
 margin-top: 40px;
}
.mt50 {
 margin-top: 50px;
}
.mt60 {
 margin-top: 60px;
}
.mt70 {
 margin-top: 70px;
}
.mt80 {
 margin-top: 80px;
}
.mt100 {
 margin-top: 100px;
}
.mt-10 {
 margin-top: -10px;
}
.mt-20 {
 margin-top: -20px;
}
.mt-30 {
 margin-top: -30px;
}
.mt-40 {
 margin-top: -40px;
}
.mt-50 {
 margin-top: -50px;
}
.pt5 {
 padding-top: 5px;
}
.pt10 {
 padding-top: 10px;
}
.pt15 {
 padding-top: 15px;
}
.pt20 {
 padding-top: 20px;
}
.pt30 {
 padding-top: 30px;
}
/********* font-size **********/
.fbold {
 font-weight: 600;
}
.f11 {
 font-size: 11px;
}
.f12 {
 font-size: 12px;
}
.f13 {
 font-size: 13px;
}
.f14 {
 font-size: 14px !important;
}
.f15 {
 font-size: 15px;
}
.f16 {
 font-size: 16px;
}
.f17 {
 font-size: 17px;
}
.f18 {
 font-size: 18px;
}
.f19 {
 font-size: 19px;
}
.f20 {
 font-size: 20px;
}
.white {
 color: #fff !important;
}
.whiteMontbold {
 color: #fff;
 font-weight: bold;
}
.block{
 display: block;
}

@media only screen and (max-width: 767px){
  .navbar-toggle .icon-bar {
   width: 22px;
   transition: all 0.2s;
 }



 .navbar-toggle .top-bar {
   transform: rotate(45deg);
   transform-origin: 10% 10%;
 }
 .navbar-toggle .middle-bar {
   opacity: 0;
 }
 .navbar-toggle .bottom-bar {
   transform: rotate(-45deg);
   transform-origin: 10% 90%;
 }
 .navbar-toggle.collapsed .top-bar {
   transform: rotate(0);
 }
 .navbar-toggle.collapsed .middle-bar {
   opacity: 1;
 }
 .navbar-toggle.collapsed .bottom-bar {
   transform: rotate(0);
 }
 .mynav .navbar-toggle{
   background: none !important;
   border: 0 !important;
   margin-top: 5px;
 }
 .mynav .icon-bar{
   background: #2196F3 !important;
 }
 .navbar-default .navbar-collapse, .navbar-default .navbar-form{
   border:0 !important;
 }
 .mynav{
   padding-bottom: 10px;
   padding-top: 10px;
 }

 .mynav .navbar-right{
   text-align: center;
 }
 .logo{
   margin-left: 15px;
 }
 .mynav .navbar-left {
   padding-left: 0;
   text-align: center;
 }
 .maange-search{
  margin-top: 0;
  margin-left: 0;
}    
.account-list li {
 margin-bottom: 5px;
 text-align: center;
}
.your-network .media {
 margin-left: 0;
 margin-bottom: 10px;
}
.panel-body .media-body, .media-left, .media-right{
  display: block !important;
  width: 100%; 
}

}

@media (min-width: 768px) and (max-width: 991px){
  .mynav .navbar-left {
    padding-left: 0;
  }
  .maange-search{
   margin-left: 0;
 }
 .navbar-default .navbar-nav>li>a{
   padding-right: 2px;
 }
 .placeholderImg{
   width: 250px;
 }

}

.dropdown {
  cursor: pointer;
}

.dropdown-ctm {
  top: 4px!important;
  left: -5px!important;
  border: 0;
  box-shadow: 0 0 4px #0000006e;
}

.dropdown-ctm[data-style=checkbox] {
  left: 7px!important;
}

.dropdown-toggle:not(.nav)::after {
  display: none!important;
}

.nav-bar-last-dropdown-toggle-icon{
  opacity: 0.4; 
  background-color: #ccc; 
  padding: 0.2rem ;
}


.dropdown-toggle.nav::after{
  display: none;
}     

.dropdown-toggle::after{
  display: inline-block;
  margin-left: 0.255em;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: : 0;
  border-left: 0.3em solid transparent;
}

/*-------------------------------*/

h3 {
  font-size: 16px;
  font-weight: 700;
}

input:active, input:focus {
  outline: none;
  border: none;
}

button, button:active:not(.invite), button:focus:not(.invite) {
  border: 0;
  outline: 0;
/*  background: transparent;*/
}

.container-fluid {
  width: 90%;
}

.dropdown-item.active, .dropdown-item:active {
  color: inherit;
  background-color: inherit;
}

.popupInput {
  border: 1px solid #81848e;
  border-radius: 5px;
  font-size: 14px;
}

.popupInput1 {
  border: 1px solid #81848e;
  border-radius: 5px;
  font-size: 14px;
}

.popupInput1 input:active, input:focus {

  border: 1px solid #81848e;
}

.suggestions {
  max-width: 250px;
  border-radius: 5px;
}

.btn {
  font-size: 14px;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #2f54a9!important;
}

.bg-blue {
  background-color: #f4f6fa;
  border-radius: 5px;
}

.bg-white {
  background-color: #fff;
}

.custom-light-grey {
  color: #81848e;
}

.custom-grey {
  color: #6b6e77;
}

.bg-custom-grey {
  background-color: #6b6e77;
}

.bg-custom-light-grey {
  background-color: #81848e;
}

.bg-theme-blue {
  background-color: #4867ae;
  border-radius: 5px;
  overflow: hidden;
}

.theme-blue {
  color: #4867ae!important;
}

.reqContainer {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #81848e #4867ae00;
  scrollbar-width: thin;
}

.reqContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

.reqContainer1 {
  max-height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #81848e #4867ae00;
  scrollbar-width: thin;
}


.reqContainer1 {
  overflow-y: auto;
  overflow-x: hidden;
}

.requested {
  border: 1px solid grey;
}

.nw::after {
  content: '';
  position: absolute;
  height: 50%;
  width: 1px;
  margin-left: 10px;
  background-color: #f4f6fa;
}

.nowrap {
  white-space: nowrap;
}


.reqContainer::-webkit-scrollbar {
  width: 4px;
}

.reqContainer::-webkit-scrollbar-track {
  width: 0;
}

.reqContainer::-webkit-scrollbar-thumb {
  background: #81848e;
  width: 4px;
  border-radius: 10px;
}


.reqContainer1::-webkit-scrollbar {
  width: 4px;
}

.reqContainer1::-webkit-scrollbar-track {
  width: 0;
}

.reqContainer1::-webkit-scrollbar-thumb {
  background: #81848e;
  width: 4px;
  border-radius: 10px;
}



.ackBox-neg {
  background-color: #dc354555;
  border: 1px solid #dc3545;
  border-radius: 5px;
}

.ackBox-pos {
  background-color: #28a74555;
  border: 1px solid #28a745;
  border-radius: 5px;
}


.addHover {
  cursor: pointer;
}

.addHover:hover {
  background-color: #f4f6fa!important;
}

.placeholder {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #4867ae;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  .placeholder {
    opacity: 0;
  }
}

/*
.search-menu{
  margin-top:0.6rem!important;
}
*/
.search-menu .search-item img{
  height: 40px;
  margin-left:0.5rem;
  margin-right:0.5rem;
    border-radius: 50%;
  border: 0.5px solid #6b6e77;
}

.edit-access-item img{
  height: 38px;
  margin-left:0.5rem;
  margin-right:0.5rem;
    border-radius: 50%;
  border: 2px solid #f4f6fa;
}

.search-item
{
  height:flex;
  margin-left:0px!important;

  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  width:50vw;
}

/*
.search-menu .search-item p{
  color:#6b6e77;
  font-size:8;
  margin-bottom:0;
}
*/

.dropdown-menu .search-menu .search-item
{
  background-color:white;
}
.search-menu.active{
  border-radius:5px;
  display:flex;
}

/*.search-bar-1
{
  position:relative;
  display:block;
}*/




.navbar {
  z-index:300;
}

.bl {
    position: fixed;
  height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.5;
    top:0;
  z-index:100;
}

/*.search-dropdown .dropdown-toggle{
  margin:0px!important;
}*/

.search-toggle:hover {
  cursor: text;
}


/*.search-ctm:focus +.bl{
  opacity:0.5;
}
#collapsibleNavbar>li>input .bl
{
    opacity:0.5;
}
*/
.request-icons img{
  height:20px;
  width:20px;

}
.request-received-notif  img{
  display:none;
}


.maange-search input[type="text"]:hover +.bl div{
  opacity:0.5;
}

.search-ctm
{
  width: calc(100%);  
}
.search-ctm-1
{
  width: calc(100%-50px);  
}



/*******search screen******/

.itemContainer>li a
{
  font-weight:bold;
  background-color:#fff;
  color:#4867ae;
  text-align:center;
}

.itemContainer>li a:hover{
    background-color: #4867ae;
    color: #ffffff;
}

.itemContainer>li .active a{
    background-color: #4867ae;
    color: #ffffff;
}

.jp-hidden .active a{
  background-color: #ffffff;
    color: #4867ae;
}
.jp-first a{
  background-color: #4867ae;
    color: #ffffff;
}

.test-plus button{
  height:26px;
  width:26px;
  opacity:0;
  background-color: transparent;
}
.test-plus1 button{
  height:26px;
  width:26px;
  background-color: transparent;
}
.request-received-icons
{
  height:24px;
  width:24px;
}

.addHover1 {
  cursor: pointer;
}

.addHover1:hover .test-plus button{
  opacity:1;
}
/*******search screen******/


/*
.page-icon-search-page 
{
    font-weight: bold;
}*/

/**********PROFILE PAGE*************/

.my-details
{
  min-width: 35vw;
  min-height: 40vh;
}
.my-contact-card
{
  min-width: 35vw;
  min-height: 40vh;
}
.my-insurance
{
  width: 22vw;
  height: 20vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
        background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
        color: #6B6E77;
        opacity: 0.5
    }
 
.profile-placeholder {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}


.insurance-placeholder {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.account-strength-placeholder {
  height: 15px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/**********************************/

#insurance-popup{
  color: white; 
  right: 0px; 
  white-space: nowrap;  
  background-color: #4867ae; 
  font-size: 11px;
  opacity: 0;
}

.profile-suggestions{
  border: 1px solid #ccc;
  height: 16%;"
}

/*
.about-me-block{
  max-height: 79px;
}*/

.show-buttons button:active{
  border: 0px;
  font-weight: bold;
}

.show-buttons{
    font-size: 11px;
}

.stage-texts{

  position:absolute;
  margin-top: 4.2rem;
  background-color: #4867ae; 
  color: black;
  font-weight: light;
  white-space: nowrap;
  font-size: 10px;
  padding: 2px;

}

.stages{
  height: 10px; 
  max-width: 13%; 
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  margin-left: 0.3rem;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.profile-display-pic img{
  border-radius: 50%;
  max-height: 10rem;
  max-width: 10rem;
}

.cake-icon{
   height: 18px;
 }

 .location-icon i{
  height: 20px;
 }

.location-icon {
    padding-top: 0.4rem;
}

.My-profile {
  cursor: context-menu;
}
.My-contact-details{
  cursor: context-menu;
}

.Profile-block {
  padding-left: 2.1rem;
}

.Profile-block-content {
  height: 250px;
}
.My-contact-block{
  height: 250px;
}

.profile-pages-placeholder{
  margin-top:25px; 
  margin-bottom: 25px; 
  margin-left: 1.1rem; 
  margin-right: 0.025rem;
}

.you-may-also-know{
  color: #81848e;
}

.you-may-also-know strong{
  color: black;
}

.insurance-checkboxes {
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    padding-bottom: 0.25rem;
}

.private-info-tag{
  color: black;
}

#my-info-gender-tagline{
  position: absolute;
  color: #4867ae;
  font-size:10px;
  font-weight: lighter;
  text-align: center;
  width: 92%;
}

.contact-modal-checkbox{
  padding-top: 0.1rem;
}

.close-modal-button{
  margin-top: -0.4rem;
  margin-left: -3.8rem;
  text-align: right;
  display: flex;
  position:absolute;
  z-index: 1;
}

.other-hidden-info{
  color: black;
  font-size: 18px;
  cursor: context-menu;
  z-index: 1;
}

/***********************************************/
.left-arrow-help-center{
  position: absolute;
  padding-left: 1.5rem;
  top:0.37rem;

}

.left-arrow-help-center> button>svg{
  height: 15px;
}

.help-main-menu>.row1{
  font-weight: bold;
  background-color: #f4f6fa;
  color: #707070;
  font-size: 18px;

  padding-left: 2rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.help-main-menu>.row2{
}


.help-main-menu-items:hover {

  background-color: #4867ae;
  color: white;
}

.help-main-menu-items{
 
  text-align: center;
 
  color: #4867ae;
  height: 140px;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;

}

.help-main-menu-items>.icon svg{
  fill: #4867ae;
} 

.help-main-menu-items:hover >.icon svg{
  fill: #fff;
}

.help-main-menu-items:hover >.icon> svg>path{
  stroke: #fff;
}

.help-main-menu-items:hover >.my-chat-icon svg>path{
  stroke: #4867ae;
}



 .help-main-menu-items>.text{
 font-size: 15px;
 font-weight: bold;
 margin-top: 2rem;
}

/***********************************************/
/***********************************************/

.help-contact-us> .row1{
  font-weight: bold;
  background-color: #f4f6fa;
  color: #4867ae;
  font-size: 18px;

  text-align: center;


  height: 7vh;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.help-contact-us>.row2{
  height: 11vh;
}

.help-contact-us> .row2> .nav-pills> .tab-head> a{
  color: #4867ae;
  text-decoration: none;
}
.help-contact-us> .row2> .nav-pills> .tab-head> button{
  background-color: transparent;
}

.help-contact-us> .row2> .nav-pills{
  width: 100%;
  text-align: center;
  font-size: 18px;
  border:0px;
  padding: 0px;

  background-color: transparent;
}

.help-contact-us> .row2> .nav-pills> div{
  padding: 0px;
}

.help-contact-us> .row3{
  height: 72vh;
}

.help-contact-us> .row3> .tab-content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-contact-us >.FAQS{
  height: 63vh;
}
.help-contact-us> .last-row-faq{
  height: 12vh;
}

@media only screen and (max-width: 1007px){
  .contact-us-tab-heading {
    display: none;
 }
}

@media only screen and (max-width: 1007px){
  .contact-us-report-sub-heading
 {
     font-size: 14px;
 }
}

@media only screen and (max-width: 800px){
  .issue-heading {
    display: none;
 }
}


@media only screen and (max-width: 1007px){
  .issue-heading {
    font-size: 14px;
 }
}



#Report{
  color: #4867ae;
  padding-bottom: 1rem;
}

#Feedback{
  color: #6b6e77;
  padding-bottom: 1rem;
}  

#GetinTouch{
  color: #6b6e77;
  padding-bottom: 1rem;
}


#Report-tab-head{
  border-bottom: 3px solid #4867ae;

}

#Feedback-tab-head{
  border-bottom: 3px solid #fff;

}  

#GetinTouch-tab-head{
  border-bottom: 3px solid #fff;

}

#GetinTouchtab{
  width: 35%;

}

#Report a{
  color: #4867ae;
}

#Feedback a{
  color: #6b6e77;

}  

#GetinTouch a{
  color: #6b6e77;
 
}

.contact-us-tabs{
 width: 70%;
 overflow: hidden;
 }

.contact-us-tab-heading{
  text-align: center;
}

.feedback-stars{
  text-align: center;
}

.feedback-tab{
}

.star-ratings >button{
  padding: 0.2rem;
  background: transparent;
}

.marked-star svg>path{
  fill:#FFA500;
}

.contact-us-report-sub-heading{
  text-align: center;
}



textarea::placeholder{
  font-size: 1.1em;
}


.get-in-touch-text-area input{
  border: 1px solid #6b6e77;
  padding: 0.4rem;
}
/**********************************************************************/

.faq-questions{
  padding: 0px;
  background-color: #f4f6fa;
  border-radius: 5px;
  display:flex;

  align-items:center;
  width: 100%;
}



.faq-answers{
  color: #81848e;
  padding-top:1rem;
  padding-left: 4.2rem;
  padding-right: 2rem;
  background-color: #f4f6fa;
  padding-bottom: 1rem;

  font-size: 13px;
  border-radius: 5px;
}

.FAQ-sub-ques .fa-angle-down{
  font-size:20px ; 
  color: white; 

  background-color: #4867ae; 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;
}

.FAQ-sub-ques{
  margin-right: 2rem;
}

.FAQS a{
  text-decoration: none;
}

.FAQS{
  height:100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  overflow-y: scroll;
}

.FAQS::-webkit-scrollbar-track
{
  margin-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: white;
}

.FAQS::-webkit-scrollbar
{
  width: 4px;
  background-color: #fff;
  margin-right: 10px;
}

.FAQS::-webkit-scrollbar-thumb
{
  background-color: #6B6E77AA;
  border-radius: 5px;
}


.FAQ-ques span{
  font-size:18px ; 
  color: #4867ae; 
  margin-right: 3rem;
  background-color: white; 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px;


  font-weight: bold;
/*  transform: rotate(180deg);*/
}

.FAQ-ques{
  padding-top: 1rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.card{
  border:0px solid #000;
  
}

.card-header{
  padding: 0px;
  border:0px solid #000;
  margin-top: 1rem;
}

.card-header> a>div{
  text-decoration: none;
}


.card-body{
  padding: 0px;
}

.btn:focus{
  box-shadow: none;
}

.btn-link:hover{
  text-decoration: none;
}

.btn-link:focus{
  text-decoration: none;
}

.FAQS> button{
  width: 100%;
  background-color: transparent;
  font-weight: bold;
}

.line-below-faq-set{
  border-bottom: 1.5px solid #ccc; 
  margin-right: 2rem;
  padding-top: 0.5rem;
}

 [data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-collapsed
        {
            -webkit-transform: rotate(180deg);
            -moz-transform:    rotate(180deg);
            -ms-transform:     rotate(180deg);
            -o-transform:      rotate(180deg);
            transform:         rotate(180deg);
        }

[data-toggle="collapse"][aria-expanded="true"] > .js-rotate-if-sub-collapsed {
            -webkit-transform: scaleX(-1);
             transform: scaleX(-1);
            -moz-transform:    scaleX(-1);
            -ms-transform:     scaleX(-1);
            -o-transform:      scaleX(-1);
        }

[data-toggle="collapse"][aria-expanded="true"] >div> .js-rotate-if-collapsed {
            -webkit-transform: rotate(180deg);
            -moz-transform:    rotate(180deg);
            -ms-transform:     rotate(180deg);
            -o-transform:      rotate(180deg);
            transform:         rotate(180deg);
        }        


/*.get-in-touch-text-area{
  margin-left: 31.5%;
  margin-right: 31.5%;
}*/

/***********************************************************************/

.custom-select {
  width: 45%;
  position: relative;
  border: 1px solid #6b6e77;

}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  padding: 0px;
  font-size: 13px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f107";
    right: 10px;
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900; 
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #6B6E77;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Style items (options): */
.select-items {

  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  
    font-size: 13px;
    box-shadow: 0 3px 6px #00000033;
    border-radius: 5px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #F4F6FA;
}

/***************************************************************/
.notification-dropdown{
  padding-bottom: 0px;
box-shadow: 0px 0.1px 6px -1px #00000059;
}

.notifications{
  width:28rem;
  margin-bottom: 0.5rem;
}

.user-picture{
 padding-left: 1.5rem!important;
 padding-right: 0px!important;
}

.user-picture img{
  height: 40px;
  width: 40px;
  padding-left: 0.02rem;
  padding-top: 0.02rem;

  border-radius: 50%;
  background-color: #6B6E77;

  border: 1px solid #6B6E77;
}

.notifications-setting-symbol img{

  position: absolute;
  height: 15px;
  width: 15px;

  border-radius: 50%;
  background-color: white;
  border: 1px solid white;

  margin-left: -0.88rem;
  margin-top: 0.25rem;

  padding-bottom: 0.02rem;

}

.notification-text{
  color: #6B6E77;
  font-size: 12px;
  padding-left: 2rem;
}

.notify-item{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.notify-item svg{
  margin-right: 1.5rem;

}

.vertical-icon-notify-item img{
  height: 14px;
  width: 14px;
  display: flex;
}

.vertical-icon-notify-item{
  padding-right: 1rem;
  margin-top: -0.25rem;
}

.notifications-view-all a{

  color: #4867ae;
  font-size: 13px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 1.5rem;
  border-top: 2px solid #ccc;
}

.notifications-view-all a:hover{
  text-decoration: none;
  color: #4867ae;

}


/****************************************************************/
.view-all-notif-user-pic img{
  height:50px;
  width: 50px;

  border-radius: 50%;
  background-color: #6B6E77;
  border: 1.5px solid #6B6E77;

  padding-top: 0.03rem;
  padding-left: 0.03rem;
  padding-bottom: 0.01rem;
}

.overlay-notif-img img{
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;

  margin-top: -1.3rem;
  margin-left: 1.75rem;

  padding-top: 0.01rem;
  padding-left: 0.02rem;
  padding-right: 0.02rem; 
  padding-bottom: 0.02rem;
}

.view-all-notif-user-pic {
    padding-left: 0.5rem;
}

.view-all-notif-text {
    padding-left: 2rem;
    font-size: 15px;
    color: rgb(107, 110, 119);
}

.notifications-page-view-all-visited {
    padding-top: 0.88rem;
    padding-bottom: 0.88rem;
    justify-content: space-between;
    width: 100%;
    display: flex;
    background-color: rgb(244, 246, 250);
    border-radius: 0px;
    border-bottom: 1.5px solid rgb(204, 204, 204);
}

.notifications-page-view-all {
    padding-top: 0.88rem;
    padding-bottom: 0.88rem;
    justify-content: space-between;
    width: 100%;
    display: flex;
    border-radius: 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
}


/************************************************************/

/***********************************************************************/

.custom-select-1 {
  width: 45%;
  position: relative;
  border: 1px solid #6b6e77;
  border-radius: 5px;
}

.custom-select-1 select {
  display: none; /*hide original SELECT element: */
}

.select-selected-1 {
  background-color: transparent;
  padding: 0px;
  font-size: 13px;
}

/* Style the arrow inside the select element: */
.select-selected-1:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f107";
    right: 10px;
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900; 

}

/* Point the arrow upwards when the select box is open (active): */

/* style the items (options), including the selected item: */
.select-items-1 div{
  color: #6B6E77;
  cursor: pointer;
  padding-left: 1rem;
  font-weight: lighter;

}

.select-selected-1 {
  color: #6B6E77;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  padding-left: 1rem;
  
}

/* Style items (options): */
.select-items-1 {

  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  
    font-size: 13px;
    box-shadow: 0 3px 6px #00000033;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
}

/* Hide the items when the select box is closed: */
.select-hide-1 {
  display: none;
}

.select-items-1 div:hover, .same-as-selected-1 {
  background-color: DodgerBlue;
  color: white;
}

/***************************************************************/